<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/edit.png"
  />
  <span>Welcome to Edit Pad</span>
    <div class="spacer"></div>
    <a aria-label="Browse" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Browse">
      <svg id="browse-logo" height="24" data-name="Logo" xmlns="/assets/web-development.png" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="../assets/web-development.png" fill="#fff"/>
      </svg>
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
    </a>
</div>
<div>
  <app-edit></app-edit>
</div>
<div>
  <app-about></app-about>
</div>
